<h1>
{{organization.name}} 
</h1>
<h2>
{{organization.irName}}
</h2>
<div class="pad-above"
     fxLayout = "column"
     fxLayout.xs="column">
	<div>
		<app-date-picker (updatedDate)="updateDate($event)"></app-date-picker>
		<button md-button (click)="getDailyVisualization()">Click by Device</button>
	</div>
	<h2>Cumulative Statics</h2>
	<div *ngIf="runningGeo">
		<md-spinner></md-spinner>
	</div>
	<div>
		<app-geo-chart></app-geo-chart>
	</div>
	<div *ngIf="runningHist">
		<md-spinner></md-spinner>
	</div>
	<div>
		<app-histogram></app-histogram>
	</div>
</div>
