md-card {
  max-height: 300px; 
  min-height: 300px; 
  width: 300px;
}

md-card-content {
  max-height: 280px; 
  min-height: 280px; 
  overflow: hidden;
}

md-card-footer {
  padding: 0 10px 10px 10px;
}

md-grid-tile {
  overflow: visible;
}
.pad-above{
	padding-top: 0px;
}
.pad-below {
	padding-bottom: 0px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.about{
	padding: 10px;
}