body {
  margin: 0;
  font-family: Roboto, sans-serif;
  padding: 5px;
  background-color: #FFF;
}
.card-scroll{
	overflow-y: auto;
}
.card-style{
	min-height: 340px; 
	max-height: 340px;
	overflow-y: hidden;
}
.cdk-overlay-container {
  top: 10px!important;
}
.pad-above {
	margin-top: 10px;
}